th{
  color:brown;
  text-align: center;
  background-color: lightgrey;
}
td,th{
  border: 2px dotted black;
}
header{
  color: rgb(156, 11, 108);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  text-align:center;
  font-weight: bolder;
}
table{
  border: 3px solid black;
  border-collapse: collapse;
}
