<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Profile</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center text-warning">
                            Buddy Books.
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="btn btn-warning" role="button" href="#">Home</a>
                            </li>
                            <li class="nav-item" style="padding-left:20px;">
                                <a class="btn btn-success" href="{{url_for('logout')}}" role="button">Log Out</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>

                <div class="row">
                    <div style="margin-top:40px" class="col-md-6">
                        <form class="form-inline" style="text-align: center;">
                            <label class="my-1 mr-2" style="font-family: 'Courier New', Courier, monospace;color:white;"
                                for="inlineFormCustomSelectPref">Search with </label>
                            <select type="text" class="custom-select my-1 mr-sm-2" name="search_with"
                                id="inlineFormCustomSelectPref">
                                <option selected>Select</option>
                                <option value="1">Author</option>
                                <option value="2">ISBN</option>
                                <option value="3">Title</option>
                            </select>
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input id="textinput" name="search_text" type="text"
                                    placeholder="Enter details to Search " class="form-control input-md">
                            </div>

                            <button type="submit" onclick="searchinitiate()" class="btn btn-primary my-1">Search
                            </button>
                            <p id="search_initiate"></p>
                            <script>
                                function searchinitiate() {
                                    var xhttp = new XMLHttpRequest();
                                    xhttp.onreadystatechange = function () {
                                        if (this.readyState == 4 && this.status == 200) {
                                            results = this.responseText;
                                            document.getElementById("search_initiate").innerHTML = results[0].title;
                                        }
                                    };
                                    xhttp.open("GET", "{{url_for('sresults')}}", true)
                                    xhttp.send();
                                }
                            </script>
                        </form>
                    </div>
                    <div class="col-md-6">
                    </div>

                </div>
            </div>
        </div>
</body>

</html>