<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>
        Register
    </title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center text-warning">
                            Buddy Books.
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="btn btn-warning" role="button" href="#">Home</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <blockquote class="blockquote">
                            <p class="mb-0"
                                style="font-family: cursive;font-size:28px; text-align: center;margin-top: 200px; color: rgb(0, 0, 0);font-weight: bolder;">
                                “Let us remember: One book, one pen, one child, and one teacher can change the world..”
                            </p>
                            <footer class="blockquote-footer"
                                style="font-family: cursive;font-size:24px;color:darkred;text-align: right;font-weight: bolder;">
                                Malala Yousafzai
                            </footer>
                        </blockquote>s
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-5">
                        <form name="register_form" action="{{url_for('register')}}" class="border border-light p-5"
                            method="POST">
                            <p id="Error Message"
                                style="font-size: x-large;color:rgb(255, 252, 94); text-align:center;font-family: sans-serif;font-weight: bolder;">
                                {{message}}</p>
                            <p class="h4 mb-4 text-center">Register</p>

                            <input name="Email" type="email" id="defaultLoginFormEmail" class="form-control mb-4"
                                placeholder="E-mail">
                            <input name="password" type="password" id="defaultLoginFormPassword"
                                class="form-control mb-4" placeholder="Password">
                            <button class="btn btn-info btn-block my-4" type="submit">Sign Up</button>
                            <div class="text-center">
                                <p>Already a member?</p>
                                <a class="btn btn-warning" href="{{url_for('login')}}" role="button">Sign In</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>