<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Search</title>

</head>

<body>
    <form action="{{url_for('sresults')}}" class="form-inline" style="text-align: center;" method="POST">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Search with </label>
        <select class="custom-select my-1 mr-sm-2" name="search_with" id="inlineFormCustomSelectPref">
            <option selected>Select</option>
            <option value="1">Author</option>
            <option value="2">ISBN</option>
            <option value="3">Title</option>
        </select>

        <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input id="textinput" name="search_text" type="text" placeholder="Enter details to Search "
                class="form-control input-md">
        </div>

        <button type="submit" class="btn btn-primary my-1">Search </button>
    </form>

</body>

</html>