<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Success</title>
</head>

<body>
    <form action="{{url_for('display')}}" class="border border-light p-5" method="POST">
        <p class="h4 mb-4 text-center">You logged in Successfully</p>
        <a href="{{url_for('logout')}}">logout</a>
        </div>
    </form>
</body>