<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Success</title>
</head>

<body>
    <div class="text-center">
        <form action="{{url_for('display')}}" class="border border-light p-5" method="POST">
            <p class="h4 mb-4 text-center">You logged in Successfully</p>
            <a class="btn btn-success" href="{{url_for('logout')}}" role="button">Log Out</a>
        </form>
        <div class="text-center">
            <p>Search a book</p>
            <a class="btn btn-success" href="{{url_for('search')}}" role="button">Search</a>
        </div>
    </div>
</body>