body{

    margin: 25px;
}
    /*background-color: rgb(238, 124, 204);
    */

img{
    margin-left:300px;
    margin-bottom: auto;
    border: 2px solid black;
}
h3{
    text-align:right;
    color:red
}
aside{
    text-align:center;
    color:pink;
}
form{
    width:100%
}
#aboutmecontent{
    font-family: cursive;
    text-align:justify;
}